.container-fluid {
    position: relative;
    text-align: center;
    color: white;
  }
 .centered{
     font-size:large;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:Sofia,sans serif;
 }
 .next{
     color:black;
 }
.next img{
    border-radius:50%;
}
.footer{
    color:white;
    background-color:darkblue;
}
         